<html layout:decorate="~{layout}">
<!--qwe-->
<div layout:fragment="content" class="container my-3">
<!--    ert-->
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${questionResponseDTO.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${questionResponseDTO.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${questionResponseDTO.formattedModifydate != null and questionResponseDTO.formattedModifydate != ''}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${questionResponseDTO.formattedModifydate}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${questionResponseDTO.nickname != null}" th:text="${questionResponseDTO.nickname}"></span>
                    </div>
                    <div th:text="${questionResponseDTO.formattedRegdate}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/question/modify/${questionResponseDTO.id}|}" class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${questionResponseDTO.nickname != null and #authentication.getPrincipal().getUsername() == questionResponseDTO.email}" th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${questionResponseDTO.id}|}" class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${questionResponseDTO.nickname != null and #authentication.getPrincipal().getUsername() == questionResponseDTO.email}" th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    zz
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(questionResponseDTO.answerList)}개의 답변이 있습니다|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.formattedModifydate != null and answer.formattedModifydate != ''}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${answer.formattedModifydate}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.nickname != null}" th:text="${answer.nickname}"></span>
                    </div>
                    <div th:text="${answer.formattedRegdate}"></div>
                </div>
            </div>
            <div class="my-3">
<!--                <th:block sec:authorize="isAuthenticated()">-->
<!--                    <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary" th:data-answer-id="${answer.id}" th:data-email="${#authentication.isAuthenticated() ? #authentication.getPrincipal().getUsername() : null}" th:classappend="${answerLikeResponseDTO != null and answerLikeResponseDTO.liked} ? 'btn-success' : 'btn-outline-secondary'">추천<span class="badge rounded-pill bg-success like-count" th:text="${answerLikeResponseDTO != null ? answerLikeResponseDTO.likeCount : 0}"></span></a>-->
<!--                </th:block>-->
                <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary" th:data-answer-id="${answer.id}" th:data-nickname-list="${answerLikeResponseDTOMap[answer.id] != null ? answerLikeResponseDTOMap[answer.id].nicknameList != null ? #strings.arrayJoin(answerLikeResponseDTOMap[answer.id].nicknameList, ',') : '' : ''}" th:classappend="${answerLikeResponseDTOMap[answer.id] != null and answerLikeResponseDTOMap[answer.id].liked} ? 'btn-success text-white' : 'btn-outline-secondary text-black'">추천<span class="badge rounded-pill bg-success like-count" th:text="${answerLikeResponseDTOMap[answer.id] != null ? answerLikeResponseDTOMap[answer.id].likeCount : 0}"></span></a>
                <!-- 추천차 목록 모달 버튼 -->
                <a href="javascript:void(0);" class="btn btn-sm btn-outline-secondary open-modal" th:data-answer-id="${answer.id}" data-modal-type="nicknameList" data-modal-title="추천한 사용자" th:data-nickname-list="${answerLikeResponseDTOMap[answer.id] != null ? answerLikeResponseDTOMap[answer.id].nicknameList != null ? #strings.arrayJoin(answerLikeResponseDTOMap[answer.id].nicknameList, ',') : '' : ''}">
<!--                    <i class="fas fa-bars"></i>-->목록
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${answer.email != null and #authentication.getPrincipal().getUsername() == answer.email}" th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}" class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${answer.email != null and #authentication.getPrincipal().getUsername() == answer.email}" th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${questionResponseDTO.id}|}" th:object="${answerCreateDTO}" method="post" class="my-3">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        </div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

    <!-- 추천자 목록 모달 -->
    <div th:each="answer : ${answerList}" th:id="|likeModal-${answer.id}|" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 class="modal-title">추천한 사용자</h3>
            <ul class="modal-content-body">
                <!-- 동적으로 내용이 삽입됨 -->
            </ul>
        </div>
    </div>

<!--    <p>로그인 상태: <span th:text="${#authorization.expression('isAuthenticated()') ? '인증됨' : '비인증'}"></span></p>-->

    <!-- csrf 토큰을 로그인한 사용자에게만 추가 -->
    <th:block sec:authorize="isAuthenticated()">
        <!--    &lt;!&ndash; csrf 토큰을 javascript 변수에 삽입 &ndash;&gt;-->
        <!--    <script type="text/javascript">-->
        <!--        let csrfToken = "[[${_csrf.token}]]";-->
        <!--        let csrfHeader = "[[${_csrf.headerName}]]";-->
        <!--    </script>-->
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    </th:block>

</div>



<!-- javascript 파일 연결 -->
<!--<th:block layout:fragment="script" type='text/javascript'>-->
<!--&lt;!&ndash;    <script src="/js/csrfHandler.js"></script>  &lt;!&ndash; csrf 토큰 처리 &ndash;&gt;&ndash;&gt;-->
<!--    <script src="/js/deleteHandler.js"></script>-->
<!--    <script src="/js/likeHandler.js"></script>-->
<!--&lt;!&ndash;    <script src="/js/tooltipHandler.js"></script>&ndash;&gt;-->
<!--    <script type="module" src="/js/modalHandler.js"></script>-->
<!--</th:block>-->

<!-- javascript 파일 연결 - 페이지별 JS 파일 사용 -->
<th:block layout:fragment="script" type='text/javascript'>
    <script type="module" src="/js/pages/question-detail.js"></script>
</th:block>

<script type="text/javascript">
    let isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];
    console.log("사용자 로그인 상태:", isAuthenticated);
</script>
</html>